@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: rgb(223, 223, 223);
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background:rgb(238, 238, 238);
    --foreground: #171717;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
